
:root{
	--primary:#ddd;
	--dark:#333;
	--light:#fff;
    --pin:deeppink;
    --coral:coral;
    --antiq:antiquewhite;
	--shadow:0 1px 5px rgba(104, 104,104, 0.8 );
	--black:black;


}


body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
/* Header*/

#header {
    padding: 10px;
    text-align: center;
    background: url('../images/deardiary.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    
}
 h1{
    font-size: 25px;
}


    
}

/* Style the top navigation bar background-color: #333;*/
.navgation1 {
    overflow: hidden;
    background-color: black;
   
}

.navgation1 a{
    float: right;
    display: block;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change color on hover */
.navgation1 a, .sax:hover {
    background-color: darkseagreen;
    color: black;
}
#span3 > div{
    border: 1px ;
    border-radius: 3px;
    background-color: darkseagreen;
    height: 35px;
    padding: 5pxs;


}
#span3 > div a{
    display: block;
    color: black;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}

#span3  a:hover{
    background-color: darkseagreen;
    color: black;
    text-decoration: none;
    

}


/* Create two unequal columns that floats next to each other */
/* Left column */
.contentcolumn {   
    float: left;
    width: 75%;
}

.contentcolumn h1{
    font-size:15px;
}
.contentcolumn h2{
    font-size:10px;
}
.contentcolumn p{
text-align: justify;
font-size: 14px; 
    
}


/* Right column */
.peripheralcolumn {
    float: right;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.peripheralcolumn h2{
    font-size:12px;
    text-align: center;
}

.peripheralcolumn p{
    font-size: 13px;
    text-align: justify;
}
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.fakeimg1{
    background: url('../images/yes Iwill.JPG');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.fakeimg2{
    background: url('../images/selfies.JPG');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.span3 p{
    
    text-align: center;
    padding-top: 3px;  
}

/*form and fieldset for login page*/
.fielset{
    width:750px;
    height: auto;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    
}
.fielset p{
    text-align: center;
    font-size: 13px;
}


#form1 > input{
    padding:12px;
    width:90%;
    border-radius:12px;
       
}
#containersignin > p {
    font-size: 12px;
    text-align:center;
}
 #form > textarea{
    border-radius: 3px;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;  
}
.form-signup{
    padding:5px;
    margin:2% auto;
   
}

#topic{
    border-radius: 3px;
    margin-left: 10%;
}

#submits{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
}
#submits > input {
    padding:3px;
    margin: 10px;
}
#ventries{
     border: 1px solid;
     border-radius:4px;
     padding:2px;
     margin-top: 2px;
     height:auto;
}
#ventries > h1{
   font-size:13px;
}
#ventries h2{
    font-size:10px;
}
/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    margin-top: 40px;
    background-color:var(--pin);
    opacity: 0.8;
}
.footer h2{
    font-size: 18px;
   font-weight: normal;
}
* {
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .contentcolumn, .peripheralcolumn {   
        width: 100%;
        padding: 0;
    }
    .fielset{
    width:100%;
}
    
@media screen and (max-width: 400px) {
    .navgation1 a {
        float: none;
        width: 100%;
    }
    .fielset{
    padding:2px;
    height: auto;
    border-radius:2px;
      
}
#form1{
    width:auto;
    height: auto;
    margin:auto;
    
}
#form{
    width:auto;
}